ul.index-instances { }

.index-instance-file {
    font-weight: bolder;
}

.index-instance-text-parts { }

.index-instance-line { }

div#source-description p {
    margin-bottom: 2px;
}
div#translation p{
    margin-bottom: 5px;
}

div#commentary p {
    margin-bottom: 10px;
}

div#license {
    margin-top: 4em;
    font-size: 14px;
}

#site-heading {
  background: #c1b7ae;
  height: 6.5em;
}

#biblio_toc {
    margin-top: 1em;
    margin-bottom: 3em;
}

#heading_image {
    height: 6em;
    margin: 0.5em;
    text-align: left;
}


#title-box {
  display: inline-block;
  float: right;
  text-align: right;
  padding: 0.5em 1em 0.5em 1em;
}

h1, h2, h3, h4, h5, h6, p, li, a, td, th, strong, text {
    font-family: "EB Garamond", Garamond, "Times New Roman", Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

 p {
     font-size: 18px;
 }
 
 td, th, tr {
     font-size: 18px !important;
 }

#site-title {
  color: #F8F7F6;
  font-weight: lighter;
     font-size: 18px;
}

#site-title-abbr {
}

#site-title-full {
     font-variant: small-caps;
}

.site-name {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 10px;
      color: #ab9d92;
      font-size: 32px;
      /*font-variant: small-caps;*/
      font-weight: 300;
}

.site-name-p {
    padding-top:1em;
    padding-bottom:1em;
}

#site-name a {
      color: #ab9d92;
}

#home_image {
     padding-top: 1em;
     padding-bottom: 1em;
}

.homepage {
    font-size: 16px;
    text-align: center;
}

#credits {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
}

#logos {
    text-align: center;
    font-size: 16px;
    
}

/*h1#site-title img {
    margin: 30px 0 5px 0;
    /\*border: solid #D3D3D3 1px;*\/
    width: 90%;
}*/
     
.underline {
    text-decoration: underline;
     }

.inslibligature {
      border-top: 2px solid black;
      border-radius: 6px;
      padding: 4px 2px 0px 2px;
}

#epigraphic_conventions table {
    width: 100%;
}

#epigraphic_conventions table tr td:first-child {
    min-width: 20%;
}

.column1 {
  box-sizing: border-box;
  float: left;
  width: 40%;
  padding: 10px;
}
.column2 {
  box-sizing: border-box;
  float: left;
  width: 60%;
  padding: 10px;
}

.column1 p, .column2 p {
    height: 100px;
}

#edition-text {
  box-sizing: border-box;
  float: left;
  width: 70%;
  padding-right:2em;
}

#edition-images-maps {
  box-sizing: border-box;
  float: left;
  width: 30%;
}

@media (max-width: 600px) {
   #edition-text, #edition-images-maps {
   float: none;
   width: 100%;
   }
}

nav.top-bar, nav.top-bar ul.right li, nav.top-bar ul.left * {
    background-color: #c1b7ae;
}

nav.top-bar {
    margin: 0 0 40px 0;
}

.top-bar-section {
    letter-spacing: 1px;
}

p, li {
    text-align: justify;
}

h1 {
    font-size: 28px;
    color: #383737;
}

td * {
    line-height: 24px;
    }

h2 {
    font-size: 24px;
    margin-top: 2em;
}

h3 {
    margin-top: 2em;
    font-size: 22px;
    font-weight: bold;
}

h4 {
    margin-top: 1.5em;
    font-size: 22px;
    font-weight: normal;
    font-style: italic;
}

div[class="text"] ul li, div#acknowledgements ul li {
    margin-bottom:0.3em;
    padding-left:0.5em;
}

a, a:link, a:visited, a:active { color: #637893; }
a:hover { color: #45658B; } 

.row {
    max-width: 90% !important; /* this overrides what is stated in foundation.css */
}

#home_image {
    max-width: 70%;
}

body{
    /*background: url(../images/body_bg.png) -7px top repeat-y;*/
    font: 100% "Lucida Sans", Tahoma, Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    color: #333;
    background-color: #F8F7F6;
    display: block;
    border: 1px solid #efefef;
    padding: 3px 1px 3px 3px;
}

footer{
    margin: 0 30px 40px 30px;
    border-top: 2px solid #efefef;
    color: #999;
}

footer p { 
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

li.active a {
    background-color: #c1b7ae;
}

li {
    list-style: none;
}

label#search_options {
    padding-bottom: 2em;
}

.parallel-display div {
    display: flex;
    margin-top: 30px;
    flex: auto;
}
.parallel-display .textpartnumber {
    position: relative;
}

.parallel-display-2-3 div {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}
.parallel-display-2-3 .textpart:first-of-type  {
    flex: 100%;
    margin-bottom: 30px;
}

.rtl, .rtl *, .ar #team, .ar #about, .ar #about-toc li {
    direction: rtl !important;
    text-align-last: right !important;
}
#about_doc.ar, #team_doc.ar {
    direction: rtl !important;
    text-align-last: right !important;
    display: block;
    
}

#about-toc li {
    padding-bottom: 5px;
    list-style-type: circle;
    list-style-position: inside;
}

/* Ad hoc styling for four IGCyr2 inscriptions */
.parallel-display-2-3 .textpartnumber {
    position: relative;
}
.parallel-display-2-3 .textpartnumber[id='textpart-abB-ii'], .parallel-display-2-3 .textpartnumber[id='textpart-abb-ii'], .parallel-display-2-3 .textpartnumber[id='textpart-textpart-abB-ii-c'], .parallel-display-2-3 .textpartnumber[id='textpart-abii'] {
    left: 50px;
}
.parallel-display-2-3 .textpartnumber[id='abc'], .parallel-display-2-3 .textpartnumber[id='abC'] {
        flex: 100%;
}

/* Indices */
.larger_cell {
    width: 200px;
    text-align: left;
}

.top_align th, .top_align td {
    vertical-align: top;
    padding: 2em 2em 1em 0.7em;
    min-width: 45px;
}

.expander {
    display: inline;
    float: left;
    margin-left: 1.375em;
}

.expander, .toggle_all {
    font-weight: bold;
    color: black;
}

.index-instances li + li + li + li + li + li + li + li + li {
  display: none;
}

/* Maps and graphs */
.map_box, .graph_box {
    padding: 0 1em 1em 1em;
    width: 100%;
}

.map {
    height: 300px;
}

.inscription_map {
    width: 100%;
     border: solid 1px black;
}

#mygraph {
    height: 89vh;
    border: 1px solid lightgray;
}

.legend p {
    text-align: center;
    font-size: 12px;
    border: 1px solid lightgray;
    margin: 0;
    padding-top: 5px;
}

.mapicon {
    height: 17px;
    margin: 5px;
    padding-bottom:3px;
}

#inputSearch {
    width: 300px;
    display: inline;
}

.block {
    display:block;
}

.button, .button:hover, .button:enabled {
    background-color: #f6f6f6;
    border-style: none;
    padding: 7px;
    color: black;
    margin: 4px;
}

 .image {
      border: solid 1px black;
}

.full_archeo_map {
      border: solid 1px black;
      margin-bottom:2em;
      }

.archaeological_map {
      margin: 0 1em 0 0;
      display: inline-block;
      width: 22%;
      vertical-align: top;
}

.archaeo_map {
      padding: 1px;
      display: inline-block;
      width: 100%;
      vertical-align: top;
}

.archaeo_map h4 {
    padding: 0;
    margin-top: 0;
    margin-bottom: 6px;
}

div#full_map {
    width: 100%;
}

.info_bg, .info {
    opacity: 0;
}

.annotation_group:hover .info_bg, .annotation_group:hover .info {
    opacity: 1;
 }

/*Keyboard*/
#keyboard_box {
    display:none;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 4em;
    float: none;
    width: 300px;
    height: 300px;
}
#keyboard li {
    font-size: 18px;
    list-style: none;
    float: left;
    margin: 0 5px 5px 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: white;
    border-radius: 5px;
}
#keyboard li:hover {
    border: none;
    background-color: #e5e5e5;
    cursor: pointer;
}

/*Fonts*/
@font-face {
    font-family: "Open Sans";
    src: url('fonts/opensans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url('fonts/opensans700.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url('fonts/opensans300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url('fonts/opensansItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url('fonts/opensans700Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url('fonts/opensans300Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('fonts/source-sans-pro-v14-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('fonts/source-sans-pro-v14-latin-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('fonts/source-sans-pro-v14-latin-700.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "EB Garamond";
    src: url('fonts/ebgaramond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EB Garamond";
    src: url('fonts/ebgaramond700.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "EB Garamond";
    src: url('fonts/ebgaramonditalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "EB Garamond";
    src: url('fonts/ebgaramond700Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "New Athena Unicode";
    src: url('fonts/nau.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "New Athena Unicode";
    src: url('fonts/nauBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "New Athena Unicode";
    src: url('fonts/nauItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "New Athena Unicode";
    src: url('fonts/nauBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}